body{
    background-color: rgb(245, 13, 60);
}
h1{
    color: rgb(245, 245, 245);
    font-size: 40px;
    text-align:center;
    text-decoration: underline;
    margin:0;

}
.container{
    width:100%;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows:80px auto 50 px;
    grid-gap:10px;
    display:grid;
    margin:0 auto;
    background-color:rgb(216, 67, 13);
}
.item1{
    float:left;
    grid-column: span 4;
    text-align: center;
    font-size: 20px;

}
.item2{
    background-color: rgb(250, 250, 12);
    font-size: 25px;
    color:black;
    height: 1000px;
    width: 300px;
    text-align: center;
}
.item3{
    float:right;
    background-color: rgb(12, 245, 245);
}
.item4{
    background-color: rgb(138, 9, 138);
    height: 1000px;
    width: 300px;
    font-size: 25px;
    text-align: center;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    margin: 15px;
}



