body{
    background-image:url(https://images.pexels.com/photos/39015/wheat-field-wheat-cereals-grain-39015.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); /*Bakgrunds bilden för webbsidan, som är lite matig*/
}
h1{ /*I den här designar vi h1 i html dokumentet*/
    color: rgb(0, 0, 0); /*Färgen av texten i h1*/
    font-size: 40px; /*Storleken på texten*/
    text-align:center; /*Vi centrerar texten på hemsidan*/
    margin:0; /*Används för att göra rum runt h1 texten*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*Här är vilka fonter på texten vi använder*/
}
.container{ /*Här är css:en för grid containern*/
    width:100%; /* bredden på containern*/
    grid-template-columns: 1fr 6fr 1fr ; /*Hur mycket plats de tre kolumnerna vill ha*/
    grid-template-rows: 80px auto 50 px; /*definerar hur stor eller bred varje rad ska vara*/
    grid-gap:10px; /*Mellanrum mellan griden*/
    display:grid;
    margin:0 auto; /*Gör lite rum runt elementen*/
    grid-gap: 10px;
}
.item1{ /*Css på en av våra items*/
    float:left; /*Används för att göra så item1 går till vänster*/
    grid-column: span 4; /*anger gridens plats i kolumn och storlek*/
    text-align: center;
    font-size: 20px;
    border-radius: 30px; /*Rundar hörnen på item griden*/
    background-color: rgb(255, 145, 0);
}
.item2{
    background-color: rgb(255, 145, 0);
    font-size: 18px;
    color:rgb(0, 0, 0); /*Text färgen*/
    height: 600px; /*Hur hög item2 griden ska vara*/
    width: 300px; /*Hur bred item2 griden ska vara*/
    text-align: center;
    border-radius: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item3{
    float:right;
    grid-column: span 3;
    background-color: rgb(255, 145, 0); /*Bakgrundsfärgen för det här itemet*/
    border-radius: 30px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:rgb(0, 0, 0) 
}
.item4{
    background-color: rgb(255, 145, 0);
    height: 600px;
    width: 300px;
    font-size: 25px;
    text-align: center;
    margin-right: auto; /*Tar upp rest av vad som finns kvar på den sidan av griden*/
    border-radius: 30px;
    color: rgb(255, 145, 0);
}
.item5{
    background-color:rgb(255, 145, 0);
    margin:auto;
    grid-row: 3;
    grid-column: 1/4;
    width: 100%;
    height: 150px;
    border-radius: 30px;
    text-align: center;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif 
}
.item6{
    float:left;
    grid-column: span 4;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(255, 145, 0);
}
.item7{
    background-color: rgb(255, 145, 0);
    font-size: 23px;
    color:rgb(0, 0, 0);
    height: 600px;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item8{
    float:right;
    grid-column: span 3;
    background-color: rgb(255, 145, 0);
    border-radius: 30px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:rgb(0, 0, 0) 
}
.item9{
    background-color: rgb(255, 145, 0);
    height: 600px;
    width: 300px;
    font-size: 25px;
    text-align: center;
    margin-right: auto;
    border-radius: 30px;
    color: rgb(255, 145, 0);
}
.item10{
    background-color:rgb(255, 145, 0);
    margin:auto;
    grid-row: 3;
    grid-column: 1/4; /* Definierar position för itemet */
    width: 100%;
    height: 150px;
    border-radius: 30px;
    text-align: center;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif 
}
.item11{
    background-color: rgb(255, 145, 0);
    grid-column: 1/4;
    color: rgb(0, 0, 0);
    font-size:30px;
    text-align: center;
}
ul{ /* Styling för listan */
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    margin: 15px;
}
.recept{ /* class för recept lista */
    font-size: 25px;
    text-decoration: none;
    margin: 0;
}
nav > ul a{
    font-size: 25px;
    text-decoration:underline;
    color:rgb(20, 19, 19);
    margin: 250px;
    border-radius: 5px;
}
nav > ul{ /* Sätter rätt poisiton för menyn i headern */
    display:flex;
    justify-self: center;
}
.pasta{ /* Redigering för bilder */
    width: 550px;
    margin-left: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.burger{
    width: 650px;
    float: right;
    margin-right: 60px;
    margin-top: 30px;
}
.crab{
    width:650px;
    float:left;
    margin-left: 60px;
    margin-top: 30px;
}
.color{
    color:rgb(0, 0, 0) 
}